h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    color: #34495e;
}
h3 {
    color: #0555a6;
    text-align: center;
}
ul {
    list-style-type: none; /* removes bullet points from lists */
    padding: 0; /* removes default padding */
    display: flex; /* allows the child elements to be inline */
    flex-wrap: wrap; /* allows wrapping to the next line */
    gap: 10px; /* adds space between the elements */
}
li {
    margin-bottom: 10px;
    flex: 1 0 25%;
}
p {
    color: #989898;
    font-size: 13px;
}
#car {
    font-family: monospace;
    white-space: pre;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: #7f8c8d;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.routes-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.preview-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.preview-item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}
.preview-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.route-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.route-button:hover {
    background-color: #29b963;
}

.github-button-container {
    position: fixed;
    bottom: 25px;
    right: 28px;
    z-index: 1000;
}

.github-button {
    background-color: #e4f1ff;
    color: rgb(16, 16, 16);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #91d3f4;
}