body {
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-bottom: 70px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.box h2 {
    text-align: center;
    margin-bottom: 20px;
}
.image-container {
    display: flex;
    justify-content: space-between;
}
.image-container img {
    width: 48%;
    height: auto;
    display: block;
}
#mySidenav a {
    position: absolute; /* Position relative to browser window */
    left: -80px; /* Positioned outside of the screen */
    transition: 0.3s; /* Transition on hover */
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 0 5px 5px 0; /* Round corners on top right and bottom right side */
}
#mySidenav a:hover {
    left: 0;
}
#home {
    top: 20px;
    background-color: #18b150;
}
#predict {
    top: 80px;
    background-color: #2196F3;
}