<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Visuals</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('serve_image', filename='favicon.ico') }}">
    <!-- CSS Style Sheets -->
    <link rel="stylesheet" href="../static/css/visual.css">
    
</head>
<body>
    <div id="mySidenav" class="sidenav">
      <a href="{{ url_for('homepage') }}" id="home">Home</a>
      <a href="{{ url_for('get_flight_predict') }}" id="predict">Predict</a>
    </div>
    <h1>Historical Visualizations</h1>
    <div class="container">
        <div class="box">
            <h2>Airline Carriers Analysis</h2>
            <div class="image-container">
                <img src="../images/heatmap_monthlycarrierdelays.png" alt="Monthly Airline Delays">
                <img src="../images/countplot_carrierdelays.png" alt="Airline Carrier Delay Count">
            </div>
        </div>
        <div class="box">
            <h2>Airport Congestion</h2>
            <div class="image-container">
                <img src="../images/yearly_delayrates_top5airports.png" alt="Peak Travel Times(Yearly)">
                <img src="../images/heatmap_monthlyairportdelays.png" alt="Heatmap Monthly Airport Delays">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <h2>Aircraft Health</h2>
            <div class="image-container">
                <img src="../images/aircraft_analysis1.png" alt="Aircraft Analysis 1">
                <img src="../images/aircraft_analysis2.png" alt="Aircraft Analysis 2">
            </div>
        </div>
        <div class="box">
            <h2>Peak Travel Times</h2>
            <div class="image-container">
                <img src="../images/linechart_hourlydelayrates.png" alt="Delay Rates by Departure Hour">
                <img src="../images/dayofweek_delayrate.png" alt="Peak Travel Times(Weekly)">
            </div>
        </div>
    </div>
</body>
</html>
