<!DOCTYPE html>
<html lang="en">
  <head>
    <title>2019 weather stats</title>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
      #totalCrimesText {
          border: 2px solid black;
          padding: 20px;
          margin: 20px 0;
          font-size: 24px;
          text-align: center;
          background-color: #f9f9f9;
      }
  </style>

  </head>
  <body>

    <script src="{{ url_for('static', filename='js/weather_stats.js') }}"></script>





  </body>
</html>